
.chart-box{
    @media screen and (max-width: 768px) {
        height: 92%;
        padding: .5em;
        width: 96%;
    }
    align-self: center;
    justify-self: center;
    background-color: white;
    position: relative;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px darkgray;
    box-sizing: border-box;
    padding: 2em;
    overflow-y: auto;
}