.chat-window{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    .mobile-chat-window-header{
        @media screen and (max-width: 1000px) {
            display: flex;
        }
        display: none;
        height: 75px;
        box-sizing: border-box;
        padding: 0px 20px;
        gap: 30px;
        align-items: center;
        .header-img{
            width: 50px;
            height: 50px;
        }
        svg{
            height: 30px;
        }
    }
    .chat-window-header{
        @media screen and (max-width: 1000px) {
            display: none;
        }
        .header-vs{
            margin-left: .5em;
            display: flex;
            align-items: center;
            gap: 10px;
            .header-img{
                width: 50px;
                height: 50px;
            }
            svg{
                margin-left: 10px;
                height: 30px;
                color: rgb(0, 0, 67);
                cursor: pointer;
            }
        }
        height: 75px;
        min-height: 75px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.33);
        justify-content: space-between;
        svg{
            margin-right: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    .current-players{
        @media screen and (max-width: 1000px) {
            display: none;
            
        }
        box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.33);
        width: 100%;
        min-height: 100px;
        gap: 30px;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        overflow-x: auto;
        box-sizing: border-box;
        padding: 0px .5em;

        .player-card{
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            .player-img{
                background: radial-gradient(circle at 50% 50%, #ffffff, #c5c5c5);
                height: 75px;
                width: 75px;
                border-radius: 1000px;

            }
            .player-description{
                .player-status{
                    font-size: .8em;
                    color: gray;
                }
                .live-player-info{
                    font-size: .9em;
                    
                }
            }
        }
    }

    .chat-message-section{
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        flex-grow: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: flex-start;
        .bottom-scroller{
            flex-grow: 1;
        }
        .message-bar{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 3px;
            .message-user-info{
                display: flex;
                align-items: center;
                gap: 5px;
                .message-user-name{
                    font-weight: 600;
                    margin-left: 10px;
                }
                .message-user-team{
                    height: 25px;
                }
                .message-time{
                    font-size: 12px;
                    color: gray;
                }
            }

            .message-bubble{
                box-sizing: border-box;
                padding: 8px 12px;
                border-radius: 15px;
                max-width: 300px;
                background-color: rgb(239, 239, 239);
                overflow-wrap: break-word;
            }
        }
    }
    .chat-input-section{
        width: 100%;
        height: 50px;
        min-height: 50px;
        display: flex;
        .input-bar-section{
            flex: 1 0 auto;
            box-sizing: border-box;
            padding: 5px;
            display: flex;
            align-items: center;
            .chat-input-bar{
                background-color: rgb(239, 239, 239);
                padding-left: 20px;
                border-radius: 100px;
                height: 100%;
                flex: 1 0 auto;
                border-style: none;

            }
            .character-counter{
                width: 70px;
                text-align: end;
            }
        }
        .send-button-section{
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 10px 0px;
            svg{
                color: rgb(52, 105, 228);
                width: 100%;
                height: 100%;
            }
        }
    }
}

.error-message{
    position: absolute;
    background-color: rgb(233, 233, 233);
    color: white;
    max-width: 300px;
    top: 100px;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    box-shadow: 0px 0px 4px rgb(162, 162, 162);
}