.favorite-player-box{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    .favorite-player-box-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        svg{
            cursor: pointer;
            transition: .2s;
            &:active{
                transform: scale(.90);
            }
            &:hover{
                color: pink;
            }
        }
    }
    .user-favorite-players{
        overflow-y: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
        li{
            width: 100%;
            height: 4em;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            cursor: pointer;
            transition: .2s;
            &:hover{
                background-color: lightgray;
            }
            .left{
                width: 100%;
                display: flex;
                align-items: center;
                gap: .5em;
                .name{
                    font-weight: 900;
                }
                img{
                    height: 50px;
                }
            }
            .delete-button{
                border-style: none;
                height: 100%;
                width: 80px;
                background-color: red;
                color: white;
            }
            .right{
            }
        }
    }
}

.sign-in-please{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}