@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.chat-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .chat-menu-item{
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s;
        @media screen and (max-width: 1000px) {
            height: 50px;
        }
        .chat-menu-item-icon{
            width: 30px;
            height: 30px;
            @media screen and (max-width: 1000px) {
                width: 20px;
                height: 20px;
            }
        }
        &:hover{
            background-color: rgb(237, 237, 237);
        }
    }
    .active{
        background-color: rgb(237, 237, 237);
    }
}

.chat-section{
    width: 100vw;
    height: 100vh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    display: flex;
}

.chat-menu{
    width: 75px;
    flex-shrink: 0;
    @media screen and (max-width: 1000px) {
        width: 50px;
    }
}

.chat-groups-mobile{
    @media screen and (max-width: 1000px) {
        display: flex;
    }
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5px;
    gap: 5px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .matchup-circle{
        min-height: 65px;
        border-radius: 100px;
        width: 65px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        img{
            height: 30px;

        }
    }
}

.chat-groups{
    flex-shrink: 0;
    width: 450px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 .5em;
    overflow-x: hidden;
    @media screen and (max-width: 1000px) {
        width: 200px;
        display: none;
    }
    .chat-date{
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
    }
    .chat-search-section{
        min-height: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        .chat-search-bar{
            width: 100%;
            height: 100%;
            border-radius: 50px;
            border-style: none;
            background-color: rgb(237, 237, 237);
            padding-left: 20px;
        }
    }
    .chat-room{
        min-height: 90px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: .2s;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 .5em;
        .team{
            text-align: center;
            width: 85px;
            .chat-room-logo{
                width: 40px;
            }
        }
        &:hover{
            background-color: rgb(247, 247, 247);
        }
        .score{
            font-size: 1.5em;
            font-weight: 500;
        }
        .inning{
            text-align: center;
            min-width: 72px;
        }
    }
    .active{
        background-color: rgb(231, 231, 231);
    }
}

.no-room-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}