@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300;400&family=Lato:wght@100;400&family=Michroma&family=Montserrat:wght@100;300;400;600;700&family=Roboto+Mono&family=Titillium+Web:wght@400;700&display=swap');



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  font-family: 'Montserrat', sans-serif;
}
*:focus {
  outline: none;
}

html, body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent horizontal scrollbar */

}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}